body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: darkslategray;
    padding: 20px 10px;
    border: 1ps solid whitesmoke;
    border-radius: 5px;
}

.resultPlay{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
}

.resetbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clearBtn {
    margin: 5px;
    width: 50%;
    background-color: pink;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 16px;
}
.keyContainer {
    display: flex;
    flex-direction: row;
}
.operateContainer{
    display: flex;
    flex-direction: column;
}

.numKeyContainer{
    display: flex;
   flex-direction: column;
}
.zeroDotEqualContainer{
    display: flex;
    justify-content: space-evenly;
}


.numKeys {
    border: 1px solid grey;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 2px;
    font-weight: bold;
}
.numKeys:hover{
    background-color: chartreuse;
    size: 110%;
}

